@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  background-color: black;
}

.navbar {
  background-color: transparent !important;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}

.navbar {
  background-color: #f5f2ed !important;
}

.navbar .header__image {
  color: black !important;
}

.navText {
  color: rgb(0, 0, 0);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
